.title {
    font-family: montserrat;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

main {
    width: 50%;
    margin-left: 300px;
}

h6 {
    font-family: nunito;
}

.container-fluid {
    width: 75%;
}

.content_title {
    margin-top: 20px;
    font-family: nunito;
}

.eachcontent {
    margin-top: 20px;
    font-family:raleway;
    text-align: justify !important; 
}