.image-box {
    border-radius: 0px;
}

.title {
    font-size: x-large;
    font-weight: bold;  
    text-align: justify;
  }

.box {
    border-radius: 0px;
  width: 27rem;
  margin: 17px;
  /* border-width: 0px; */
  text-align: center;
  border: 1.5px solid rgb(205, 205, 205);
  /* box-shadow: 0px 0px 10px 0.5px #5a88d7; */
}


.guestmsg {
  color: #5a88d7;
  text-align: center;
  font-weight: bold;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid > div {
  width: 20%;
  height: 30%;
}

.word {
  align-items: center;
}

.btn {
    text-align: center;
}